@import url('https://fonts.google.com/specimen/Zen+Dots#standard-styles');

* {
  font-family: 'Josefin Sans', cursive;
}


.project img {
    width: 400px;
    height: 300px;
}

.project {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    color:white;
    font-family: 'Josefin Sans', cursive;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    box-sizing: border-box;
    border-radius: 40px;
    background: black;
}






.card h1{
    font-size: 80px;
}

.cardtext {
    width: 70%;
    font-size: 20px;
    text-align: justify;
}

.button {
    background:white;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    color:green;
  }
  
  .button:hover {
    background:green;
    text-decoration: none;
    color:white;
  }

  @media screen and (max-width: 900px) {
    .project {
      display: flex;
      flex-wrap: wrap;
      margin-left: 0%;
    }
}