@import url('https://fonts.googleapis.com/css?family=Chivo:300,700|Playfair+Display:700i" rel="stylesheet');



.project img {
    width: 400px;
    height: 300px;
}

.project {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    color:white;
    font-family: 'Josefin Sans', cursive;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    box-sizing: border-box;
    border-radius: 40px;
    background: black;
}

.card h1{
    font-size: 80px;
}

.cardtext {
    width: 70%;
    font-size: 20px;
    text-align: justify;
}

.projectbutton {
    background:white;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    transform: scale(1);
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-style: italic;
    background-color: #484d5c;
    color: #ffce00
  }
  
  .projectbutton:hover {
    background:green;
    text-decoration: none;
    color:white;
  }

  @media screen and (max-width: 900px) {
    .project {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    .card{
      width: 100%;
    }

    .card h1{
      font-size: 50px;
    }
    
    .cardphoto img{
      width: 80%;
      height: 30%;
      margin: 0 0 0 10%;
    }

    .cardtext{
      width: 80%;
    }

    .projectbutton{
      margin: 0 0 0 0;
    }

}