body {
    background: white;
    color: green;
    transition: background 1s ease-in-out, color 1s ease-in-out;
  }
  
  body.light {
    
    background: white;
    color: green;
  }
  
  body.dark {
    background:black;
    color: white;
  }

  .card.dark{
    background: white;
}