
.logos{
   margin: 10% 0 0 6%
   
}


.home{
    display: flex;
    width: 100%;
    padding: 15px 200px;
    margin: 2% auto 0 auto
}

.aboutme {
    font-size: 30px;
    text-align: justify;
    width: 50%;
    margin: 0 0 10% 0;
}

.aboutme2{
  font-size: 25px;
}

.aboutme h1,h2{
     text-align: center;
}

.myphoto img{
    height: 350px;

}

.myphoto {
    height: auto;
    padding: 15px;
    width: 50%;
}

@media screen and (max-width: 1300px) {
  .home{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px;
  align-items: center;
  }
}



@media screen and (max-width: 900px) {
    .home {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 15px;
    }

    .myphoto {
      width: 100%;
      margin: 0 0 0 5%;
    }

    .myphoto img{
      width: 250px;
      height: 250px;
      margin: 0 10% 0 0
    }

    .aboutme h1 {
      font-size: 3rem;
    }

    .aboutme {
      line-height: 30px;
      letter-spacing: 1px;
      margin: 0;
      padding: 15px;
      font-size: 20px;
      width:100% ;
    }

    .aboutme2{
      font-size: 16px;
    }

    .logos {
        width: 100%;
        margin: 0 0 10% 0 ;
    }
  }

  @media screen and (max-width: 1300px) {
  .home{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px;
  align-items: center;
  }
}



@media screen and (max-width: 900px) {
    .home {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 15px;
    }

    .myphoto {
      width: 100%;
      margin: 0;
      padding: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .myphoto img{
      width: 250px;
      height: 250px;
      margin: 0 ;
      padding: 15px;
    }

    .aboutme h1 {
      font-size: 3rem;
    }

    .aboutme {
      line-height: 30px;
      letter-spacing: 1px;
      margin: 0;
      padding: 15px;
      font-size: 20px;
      width:100% ;
    }

    .aboutme2{
      font-size: 16px;
    }

    .logos {
      width: 80%;
      
    }

  }

  